body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    text-decoration: underline;
}

button {
    background-color: #27F550;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #e68900;
}

p {
    font-size: 18px;
    color: #555;
    max-width: 600px;
    margin: 0 auto;
}
