.container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 24px;
    justify-content: flex-start;
}

.movieItem {
    width: 100%;
}

@media (min-width: 600px) {
    .movieItem {
        width: calc(50% - 12px);
    }
}

@media (min-width: 900px) {
    .movieItem {
        width: calc(33.333% - 16px);
    }
}

@media (min-width: 1200px) {
    .movieItem {
        width: calc(25% - 18px);
    }
}

