/*CSS styles */
body {
    background: black;
    font-family: sans-serif;
}

.paging {
    width: auto;
    height: auto;
    border: 2px solid #ffd701;
    border-radius: 5px;
    padding: 10px;
    margin: 15px auto;
}

.headers__header {
    background: #3f4d58;
    border-radius: 2%;
    padding: 15px;
    margin: 15px 0px 15px 0px;
}

.header__container {
    text-align: center;
}

.header__titulo {
    font-size: 300%;
    color: white;
}

.footers__footer {
    background: #3f4d58;
    border-radius: 2%;
    padding: 15px;
    margin: 15px 0px 15px 0px;
}

.footer__container {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 18px;
}

.sujects__pasillo {
    background: #40464b;
    padding: 15px;
    margin: 15px 0px 15px 0px;
}

.pasillo__uno {
    margin-bottom: 200px;
}

.sujects__containers {
    place-items: center;
}

.container__butacas {
    display: grid;
    grid-template-columns: 70px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
    grid-gap: 15px;
    height: 35px;
    padding: 5px;
}

.container__fila {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #ffd701;
}

.butacas__vacias {
    width: 35px;
    border: 1px solid #ffd701;
}

.butacas__llenas {
    width: 35px;
    background-color: #ffd701;
}

.container__reserva {
    display: grid;
    place-items: center;
}

.reserva__texto {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #ffd701;
}

input[type=text] {
    width: 120px;
    padding: 10px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    background-color: #ffd701;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 18px;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

.btn:hover {
    color: #212529;
    text-decoration: none;
}