
body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
}

#botonObtenerChiste {
    background-color: #fff;
    color: #000;
}

#parrafoChiste {
    color: #fff;
}