.contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    background-color: lightgrey;
}

.nombre {
    width: 99%;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px;
    text-align: center;
    margin: 10px;
    background-color: #F0EA29;
}

.pantalla {
    width: 50%;
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
}

.sala {
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px black;
    padding: 10px;
    background-color: lightgoldenrodyellow;
    color: saddlebrown;
}

.asientos {
    border-spacing: 10px;
    margin-left: auto;
    margin-right: auto;
}

.reservado {
    border: 2px solid blue;
    background-color: lightblue;
    color: darkslateblue;
}

.butaca {
    width: 30px;
    height: 30px;
    background: greenyellow;
    border: 2px solid black;
    cursor: pointer;
}

.butaca:hover {
    background: mediumpurple;
}

.ocupada {
    width: 30px;
    height: 30px;
    background: red;
    border: 2px solid black;
}

.pasillo {
    width: 40px;
}

.formulario {
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px;
    padding: 10px;
    background-color: lightgoldenrodyellow;
}

form > label, input {
    margin: 10px;
    text-align: center;
}

.informacion {
    width: 99%;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px;
    margin: 10px;
    background-color: darkgrey;
}