html, body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.bd-datos {
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem;
    margin: 1rem -.75rem 0;
    border-width: 1px 0 0;
}