body {
    font-family: Arial, sans-serif;
    background-color: #fff; /* Fondo oscuro */
    color: #003a5d; /* Texto claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 500px;
}

h3 {
    color: #003a5d; /* Título en amarillo */
    text-align: center;
}

form {
    background-color: #92d3ef; /* Fondo ligeramente más claro para el formulario */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input-field label {
    color: #003a5d; /* Etiqueta de texto claro */
}

.input-field input[type=text],
.input-field input[type=password],
.input-field input[type=email] {
    color: #003a5d; /* Color de texto de entrada */
    border-bottom: 1px solid #003a5d; /* Borde amarillo para los inputs */
}

.input-field input[type=text]:focus,
.input-field input[type=password]:focus,
.input-field input[type=email]:focus {
    border-bottom: 1px solid #003a5d; /* Borde amarillo en foco */
    box-shadow: 0 1px 0 0 #003a5d; /* Sombra amarilla en foco */
}

.btn {
    background-color: #003a5d; /* Botón en amarillo */
    color: #fff; /* Texto del botón en oscuro */
}

.btn:hover {
    background-color: #002034; /* Color del botón al pasar el mouse */
}

/* Mensajes de error */
p {
    color: #710c0c; /* Rojo para errores */
    font-size: 0.8rem;
    margin-top: 5px;
}

.error {
    color: #710c0c; /* Rojo para errores */
}
