.movie__image {
    aspect-ratio: 16/9;
    height: 100%;
    object-fit: contain;
    max-height: 250px;
    border-radius: 8px;
}

.movie__card {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.8);
    flex-direction: column;
    align-items: center;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    transition: transform 0.2s;
}

.movie__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
}