body {
    font-family: Arial, sans-serif;
    background-color: #333; /* Fondo oscuro */
    color: #f1f1f1; /* Texto claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.container {
    width: 90%;
    max-width: 500px;
}
h3 {
    color: #ffd700;
    text-align: center;
}
.btn {
    background-color: #ffd700;
    color: #333; 
}

.btn:hover {
    background-color: #ccac00;
}
form {
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.input-field label {
    color: #f1f1f1; 
}
.title{
    align-items: center;    
}
.section{    
    gap: 5px;
    height: 25px;
}
.asiento{
    border: gray 1px solid;
    background: gray;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.asiento:hover {
  background-color: rgb(46, 244, 142);
}
.preseleccionado{
    border: rgb(46, 244, 142) 1px solid;
    background: rgb(46, 244, 142);
    width: 20px;
    height: 20px;
}
.asientoOcupado{
    border: rgb(18, 130, 242) 1px solid;
    background: rgb(18, 130, 242);
    width: 20px;
    height: 20px;
}
.parrafo{
    min-width: 80px;
    color: #ccac00;
}
