body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

main {
    margin: 40px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
    color: #fff;
}

p {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

footer {
    background-color: #000000;
    color: #000000;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .promesas{
    color: aqua;

}