.movie-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 1rem;
    padding: 1rem;
    width: 250px;
    background-color: #f9f9f9;
}

.movie-image {
    width: 100%;
    border-radius: 8px;
}

.movie-button {
    background-color: #007bff;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.movie-button:hover {
    background-color: #0056b3;
}